*{
	margin: 0;
	padding: 0;
}
body{
	
	min-width: 1280px;
	font-family: "微软雅黑";
}
.contianer{
	width: 100%;
	min-width: 1280px;
}
a{
	text-decoration: none;
}
header{
	height: 60px;
	/*min-width: 1280px;*/
	width: 100%;
	background-color: #fff;
	/*padding-top: 20px;*/
	/*overflow: hidden;*/
	/*position: absolute;*/
	/*border-bottom: 1px solid #000;*/
}
header .new{
	height: 26px;
	width: 150px;
	left: 6%;
	font-size: 26px;
	position: absolute;
	padding-top: 15px;
}
header .new img{
	position: absolute;
	height: 26px;
	width: 20px;
}
header .new span{
	position: absolute;
	margin: -5px 0 0 25px;
}
header nav{
	left: 50%;
	position: absolute;
	list-style: none;
	width: 400px;
}
header nav a{
	display: inline-block;
	color: black;
	font-size: 16px;
	width: 20%;
	height: 60px;
	padding-top: 20px;
	text-align: center;
	margin: 0;
	box-sizing: border-box;
}
header nav a:hover{
	color: red;
	background-color: rgba(255,0,0,0.1);
}
header .move{
	position: absolute;
	border-top: 4px solid #e53c3c;
	width: 20%;
	height: 60px;
	top: 55px;
	left: 0;
	-webkit-transition: left 0.4s ease-in-out;
    -moz-transition: left 0.4s ease-in-out;
    transition: left 0.4s ease-in-out;
}
header nav a:nth-child(1):hover~.move{
	left: 0;
}
header nav a:nth-child(2):hover~.move{
	left: 20%;
}
header nav a:nth-child(3):hover~.move{
	left: 40%;
}
header nav a:nth-child(4):hover~.move{
	left: 60%;
}
header nav a:nth-child(5):hover~.move{
	left: 80%;
}
header .login{
	position: relative;
	left: 90%;
	padding-top: 20px;
	/*vertical-align: middle;*/
	width: 60px;
	height: 60px;
}
header .login a span{
	position: absolute;
	margin: -3px 0 15px 5px;
	vertical-align: middle;
	color: rgb(231,79,77);
}
header .login .move{
	width: 0;
	-webkit-transition: width 0.4s ease-in-out;
    -moz-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
header .login a:hover~.move{
	width: 50px;
}
.section-1{
	height: 700px;
	background: url("../img/img7/pic01.jpg");
	background-size: 100% auto;
	color: white;
}
.section-1 .mark1{
	position: absolute;
	left: 125px;
	top: 225px;
	font-size: 70px;
}
.section-1 .mark2{
	position: absolute;
	left: 125px;
	top: 330px;
	font-size: 30px;
}
.section-1 input{
	color: #fff;
	position: absolute;
	left: 125px;
	top: 500px;
	font-size: 30px;
	height: 60px;
	width: 330px;
	background-color: rgb(231,79,77);
	border: 0 solid #fff;
	cursor: pointer;
}
.section-2{
	height: 250px;
	font-size: 0;
	text-align: center;
}
.section-2  .top{
	height: 130px;
}
.section-2 .mark1{
	width: 25%;
	display: inline-block;
	font-size: 16px;
}
.section-2 .mark1 .top{
	background: url("../img/img7/icon-3.jpg") no-repeat center;
	background-size: 50px 50px;
}
.section-2 .mark1 .bottom{
	height: 50px;
	border-right: 1px solid #000;
}
.section-2 .mark2{
	display: inline-block;
	width: 25%;
	font-size: 16px;
}
.section-2 .mark2 .top{
	background: url("../img/img7/icon-4.jpg") no-repeat center;
	background-size: 50px 50px;
}
.section-2 .mark2 .bottom{
	height: 50px;
	border-right: 1px solid #000;
}
.section-2 .mark3{
	width: 25%;
	display: inline-block;
	font-size: 16px;
}
.section-2 .mark3 .top{
	background: url("../img/img7/icon-5.jpg") no-repeat center;
	background-size: 50px 50px;
}
.section-2 .mark3 .bottom{
	height: 50px;
	border-right: 1px solid #000;
}
.section-2 .mark4{
	width: 25%;
	display: inline-block;
	font-size: 16px;
}
.section-2 .mark4 .top{
	background: url("../img/img7/icon-6.jpg") no-repeat center;
	background-size: 50px 50px;
}
.section-3{
	height: 360px;
	background-color: rgb(237,237,237);
	color: #666;
	font-size: 50px;
	text-align: center;
}
.section-3 .top{
	height: 200px;
	background: url("../img/img7/icon-1.png") no-repeat center;
	padding-top: 30px;
}

.section-4{
	height: 340px;
	background: url("../img/img7/pic02.jpg");
	background-size: 100% 100%;
}
.section-4 .msg{
	color: #fff;
	height: 150px;
	text-align: center;
	padding-top: 60px;
}
.section-4 .msg p:first-child{
	font-size: 30px;
}
.section-4 .msg p:last-child{
	font-size: 20px;
}
.section-4 .msg span{
	display: inline-block;
	width: 50px;
	height: 15px;
	border-top: 3px solid #fff;
	margin-top: 10px;
}
.section-4 .select{
	width: 100%;
	text-align: center;
}
.section-4 select{
	height: 35px;
	width: 240px;
	margin-right: 20px;
	font-size: 16px;
	background: url(../img/img7/icon-7.png) no-repeat center transparent;
	background-position: 97% 50%;
	background-color: #fff;
	appearance:none;
	-moz-appearance:none;
	-webkit-appearance:none;
	background-size: 25px 25px;
	padding-right: 10px;
	padding-left: 10px;
}
.section-4 select option{
	background-color: #ddd;
	color: #333;
}
.section-4 select option:selected{
	background-color: #fff;
}
.section-4 input{
	height: 35px;
	width: 240px;
	background-color: rgb(231,79,77);
	color: #fff;
	border: 0px solid;
	cursor: pointer;
	font-size: 16px;
}
.section-5{
	height: 600px;
	background-color: #eee;
	text-align: center;
	font-size: 12px;
	color: #888;
	line-height: 20px;
}
.section-5 div{
	width: 220px;
	height: 400px;
	display: inline-block;
	background-color: #eee;
	margin: 100px 20px;
}
.section-5 div span{
	color: #000;
	font-size: 16px;
	line-height: 30px;
}
.section-5 .mark2 p:first-child{
	padding-left: 20px;
	color: #000;
	font-size: 16px;
	line-height: 30px;
	letter-spacing: 30px;
	font-size: 20px;
	font-weight: 500;
}
.section-6{
	height: 570px;
	/*width: 100%;*/
	min-width: 1280px;
	margin: 0;
	padding: 0;	
	font-size: 0;
	position: relative;
}
.section-6 .left{
	font-size: 16px;
	position: relative;
	float: left;
	/*display: inline-block;*/
	height: 570px;
	width: 70%;
	background: url(../img/img7/pic07.jpg) no-repeat;
	background-size: 100% 100%;
	text-align: center;
}
.section-6 .left p{
	color: #fff;
	font-size: 20px;
}
.section-6 .left p:nth-child(1){
	font-size: 50px;
	margin-top: 100px;
}
.section-6 .left p:nth-child(2){
	font-size: 150px;
}
.section-6 .left p:last-child:after{
	content: "";
	position: absolute;
	top: 50%;
	left: 100%;
	border: 30px solid #fff;
	border-color: transparent #fff transparent transparent;
	margin: -30px 0 0 -60px;
}
.section-6 .right{
	/*display: inline-block;*/
	/*position: absolute;*/
	float: right;
	height: 570px;
	width: 30%;
	font-size: 16px;
	text-align: center;
}
.section-6 .right .msg{
	display: none;
	width: 75%;
	height: 200px;
	margin: 0 auto;
	padding-top: 100px;
	padding-bottom: 50px;
	line-height: 30px;
	color: #888;
	text-align: left;
}
.section-6 .right div p:first-child{
	text-align: center;
	color: #000;
	font-size: 30px;
	padding-bottom: 30px;
	font-weight: 500;	
}
.section-6 .right div p:first-child span{
	color: rgb(231,79,77);
}
.section-6 .right .msg1{
	display: block;
}
.section-6 .right input[type="button"]{
	text-align: center;
	color: rgb(231,79,77);
	border: 1px solid rgb(231,79,77);
	background-color: #fff;
	width: 100px;
	height: 30px;
	margin-bottom: 20px;
	cursor: pointer;
	-webkit-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.section-6 .right input[type="button"]:hover{
	color: #fff;
	background-color: rgb(231,79,77);
}
.section-6 .right .radio{
	width: 75%;
	height: 30px;
	margin: 0 auto;
	position: relative;
}
/*.section-6 .right .radio ._radio{
	width: 100px;
	height: 30px;
	position: absolute;
	left: 50%;
	margin-left: -50px;

}*/
.section-6 .right input[type="radio"]{
	opacity: 0;
	margin: 0 5px;
	z-index: 100;	
	position: relative;
	top: 450px;
}
/*.section-6 .right .radio .mark{
	width: 100px;
	height: 30px;
	position: absolute;
	left: 50%;
	margin-left: -50px;
}*/
.section-6 .right .circle{
	width: 10px;
	height: 10px;
	border-radius: 5px;
	border: 2px solid #929292;	
	display: inline-block;
	margin: 0 5px;
	cursor: pointer;
	/*background-color: #929292;*/
	z-index: 1;
	position: relative;
	top: 430px;
}
.section-6 .right ._mark1{
	background-color: #929292;
}
.section-6 .right input:checked~.circle{
	background-color: #fff;
}
.section-6 .right input:checked~.msg{
	display: none;
}
.section-6 .right input:nth-child(1):checked~._mark1{
	background-color: #929292;
}
.section-6 .right input:nth-child(1):checked~.msg1{
	display: block;
}
.section-6 .right input:nth-child(2):checked~._mark2{
	background-color: #929292;
}
.section-6 .right input:nth-child(2):checked~.msg2{
	display: block;
}
.section-6 .right input:nth-child(3):checked~._mark3{
	background-color: #929292;
}
.section-6 .right input:nth-child(3):checked~.msg3{
	display: block;
}
.section-7{
	height: 520px;
	min-width: 1280px;
	position: relative;
	font-size: 0;
	clear: all;
	text-align: center;
}
.section-7 .left{
	width: 35%;
	height: 520px;
	position: absolute;
	background-color: #e74f4d;
	font-size: 18px;
	color: #fff;
}
.section-7 .left p:first-child{
	font-size: 20px;
	margin-top: 220px;
	margin-bottom: 10px;
}
.section-7 .left span{
	display: block;
	width: 30px;
	height: 10px;
	margin: 20px auto;
	border-top: 2px solid #fff;
}
.section-7 .left input{
	background-color: #e74f4d;
	width: 140px;
	height: 40px;
	border: 1px solid #fff;
	color: #fff;
	font-size: 18px;
	-webkit-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.section-7 .left input:hover{
	background-color: #fff;
	color: #e74f4d;
}
.section-7 .middle{
	width: 35%;
	height: 520px;
	position: absolute;
	left: 35%;
	font-size: 18px;
	color: #000;
}
.section-7 .middle p:first-child{
	font-size: 20px;
	margin-top: 220px;
	margin-bottom: 10px;
}
.section-7 .middle span{
	display: block;
	width: 30px;
	height: 10px;
	margin: 20px auto;
	border-top: 2px solid #aaa;
}
.section-7 .middle input{
	background-color: #fff;
	color: #e74f4d;
	width: 140px;
	height: 40px;
	border: 1px solid #e74f4d;
	font-size: 18px;
	-webkit-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.section-7 .middle span:after{
	content: "";
	position: absolute;
	top: 50%;
	left: 100%;
	border: 30px solid #fff;
	border-color: transparent transparent transparent #fff;
	margin: -30px 0 0 0;
	z-index: 100;
}
.section-7 .middle input:hover{
	background-color: #e74f4d;	
	color: #fff;
}
.section-7 .right{
	width: 30%;
	height: 520px;
	position: absolute;
	left: 70%;
	background: url("../img/img7/pic08.jpg") no-repeat;
	background-size: 100% 100%;
}
.section-8{
	clear: all;
	height: 300px;
	text-align: center;
	color: #999;
	font-size: 12px;
}
.section-8 p:first-child{
	color: #000;
	font-size: 18px;
	line-height: 35px;
	margin-top: 100px;
}
.section-8 span{
	display: block;
	width: 30px;
	height: 10px;
	margin: 2px auto;
	border-top: 2px solid #e74f4d;
}